@use "../abstracts/variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");

footer {
  background-color: $white;
  margin-top: 1rem;
  margin-top: auto;
  -webkit-box-shadow: 0px 4px 4px 3px rgb(177, 164, 164);
  box-shadow: 0px 4px 4px 3px rgb(177, 164, 164);
  a:hover {
    color: $accent;
  }
}
.brand-name {
  padding-top: 0.5rem;
  font-family: Comforter;
  font-size: 1.5rem;
  font-weight: lighter;
}
.webpage-info {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
}

.creator > *,
.attribution > * {
  display: inline-block;
  margin: 0;
  padding: 0.25rem;
}

.toggle-button {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

