@use "../abstracts/variables.scss" as *;
@use "../abstracts/mixins.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");

.nav-line {
  align-items: center;
  background-color: $light;
  display: flex;
  font-size: 1.125rem;
  height: 4rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 100;
  @include shadow;
}

#hamburger {
  background-color: $white;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0.25rem;
  outline: none;
  padding: 0.25rem 1rem;
  &:focus-visible {
    outline: 2px solid $dark;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  padding: 0.5rem 0;
  width: 100%;
  li {
    padding: 0.25rem 0.5rem;
    a:hover,
    a:focus {
      color: $accent;
    }
  }
}

.nav-title {
  font-family: "Comforter", cursive;
  font-size: 1.6rem;
  padding: 0;
}

.nav {
  background: $light;
  font-size: 1.125rem;
  height: fit-content;
  padding: 0 2rem;
  position: fixed;
  transform: translateY(-130%);
  transition: transform 0.2s ease;
  top: 4rem;
  width: 100vw;
  z-index: 99;
  @include shadow;
}

.showNav {
  transform: translateY(0);
}

.active-link {
  color: $accent;
}

@media (min-width: 41em) {
  .nav-line {
    display: none;
  }

  .nav {
    background: $light;
    display: flex;
    align-items: center;
    height: 4rem;
    justify-content: space-between;
    left: 0rem;
    top: 0rem;
    transform: translateY(0%);
    width: 100%;
  }

  .nav-list {
    flex-direction: row;
    justify-content: center;
  }
}
